<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Weather App</title>
    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://api-maps.yandex.ru/v3/?apikey=e9a62e84-e616-458a-944d-3640a27c341d&lang=ru_RU"></script>
</head>
  <body>
    <div class="container">
        <div class="status_bar">
            <span class="clock" id="currentTime"></span>
            <img class="img1" src="/public/img/Right Side.png" alt="">
        </div>
        
      <form action="/weather" method="get" id="weatherForm">
        <input type="text" name="city" placeholder="ENTER CITY" autocomplete="name" id="myInput"/> <br>
        <button type="submit" id="weatherBtn">Get Weather</button>
      </form>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (weather) { %>
        <div class="card">
            <div id="map" style="width: 600px; height: 400px"></div>
            <p class="city">
                <%=weather.name%>
              </p>
              <p class="temperature">
                <%= Math.round(weather.main.temp)%>&deg;
              </p>
              <p class="weather-description">
                <%=weather.weather[0].description%>
            </p>
            </p>
            <div class="extra">
                <p class="extra-info"><i class="fa-solid fa-droplet"></i> <%=weather.main.humidity%>%</p>
                <p class="extra-info"><i class="fa-solid fa-thermometer"></i> <%=weather.main.pressure%> hPa</p>
                <p class="extra-info"><i class="fa-solid fa-wind"></i> <%=weather.wind.speed%> m/s</p>
                <p class="extra-info"><i class="fa-solid fa-location-dot"></i> <%=weather.sys.country%></p>
                <% if (weather.rain) { %>
                <p class="extra-info"><i class="fa-solid fa-cloud-rain"></i> <%=weather.rain["1h"]%> mm (1h)</p>
                <% } %>
                <% if (weather.snow) { %>
                <p class="extra-info"><i class="fa-regular fa-snowflake"></i> <%=weather.snow["1h"]%> mm (1h)</p>
                <% } %>
            </div>
          </div>
          <div id="map"></div>
          
      <% } %>
    </div>
    <footer>
        <div class="author">
            <h2>CREATED BY KIYOKATA</h2>
            <ul class="social">
                <li><a href=""><i class="fa-brands fa-github"></i> GITHUB</a></li>
            </ul>
        </div>
    </footer>
    <script>
        
        window.addEventListener('DOMContentLoaded', function(){
    function updateClock() {
        var currentTimeElement = document.getElementById('currentTime');
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
    
        var formattedHours = hours < 10 ? '0' + hours : hours;
        var formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
    
        currentTimeElement.textContent = formattedHours + ':' + formattedMinutes;
    
        setTimeout(updateClock, 60000);
      }
    
      updateClock();
      initMap();

async function initMap() {
    // Промис `ymaps3.ready` будет зарезолвлен, когда загрузятся все компоненты основного модуля API
    await ymaps3.ready;

    const {YMap, YMapDefaultSchemeLayer} = ymaps3;

    // Иницилиазируем карту
    const map = new YMap(
        // Передаём ссылку на HTMLElement контейнера
        document.getElementById('map'),

        // Передаём параметры инициализации карты
        {
            location: {
                // Координаты центра карты
                center: [37.588144, 55.733842],

                // Уровень масштабирования
                zoom: 10
            }
        }
    );

    // Добавляем слой для отображения схематической карты
    map.addChild(new YMapDefaultSchemeLayer());
}
});
    </script>
    </body>
</html>
